body{
background-image:url("background3.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  min-height:100;
  background-color:antiquewhite;
}
  .work,
.services {
    padding: 80px 8%;
    text-align: center;
}

.work h2,
.services h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.work-container,
.services-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.work-card,
.service-card {
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    background: #111;
    color: white;
}

.work-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.work-card h3,
.service-card h3 {
    margin-top: 15px;
}

